input {
    width: 50%;
    margin: 5px;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #0066BB;
    border-radius: 4px;
}
input[type=text]:focus {
    border: 2px solid #1A7E1E;
}
select {
    width: 40%;
    padding: 16px 20px;
    border: 2px solid #0066BB;
    border-radius: 4px;
    //background-color: #f1f1f1;
}
input[type=number]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #0066BB;
    border-radius: 4px;
}

input[type=submit]{
    margin-top:50px;
    height: 60px;
    width: 20%;
}